.mainMenu {
	flex-basis: 100px;

	background-color: #272727;
}

.mainMenu > ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;

	margin: 0;
	padding: 0;

	list-style-type: none;
}

.mainMenu > ul > li {
	flex-basis: 100px;

	border-bottom: 1px solid #121316;
}

.mainMenu > ul > li:hover {
	background-color: #35363A;
	cursor: pointer;
}

.mainMenu > ul > li > a {
	height: 100px;

	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainMenu > ul > li > a:link,
.mainMenu > ul > li > a:visited,
.mainMenu > ul > li > a:active {
	color: #387CD5;
	text-decoration: none;
}

.mainMenu > ul > li > a > div {
	text-align: center;
}

.mainMenu > ul > li > a > div > .itemTitle {
	padding-top: 10px;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}