<ul>
	<li>
		<a href="#/dashboard">
			<div>
				<div class="fa fa-2x fa-columns"></div>
				<div class="item-title">Dash</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#/bible">
			<div>
				<div class="fa fa-2x fa-book"></div>
				<div class="item-title">Biblia</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#/search">
			<div>
				<div class="fa fa-2x fa-search"></div>
				<div class="item-title">Keresés</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#/notes">
			<div>
				<div class="fa fa-2x fa-file"></div>
				<div class="item-title">Jegyzet</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#/settings">
			<div>
				<div class="fa fa-2x fa-gear"></div>
				<div class="item-title">Beállítás</div>
			</div>
		</a>
	</li>
</ul>