.mainBody {
	/*background: #35363A;
	color: white;*/
	flex: 1;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.mainContent {
	flex: 1;

	overflow: auto;
}


.chapter {
	padding: 15px 35px 35px 35px;
	text-align: justify;
}

.chapter > h2 {
	margin-bottom: 15px;
	font-weight: bold;
}

.chapter > p {
	font-size: 20px;
}

.chapter > p > .verse-number {
	padding: 0 5px 0 7px;
	font-weight: bold;
}