.mainHeader {
	flex-basis: 40px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	background-color: #272727;
	color: white;
}

.mainHeader > .logo {
	flex-basis: 100px;

	padding-top: 10px;
	text-align: center;
}

.mainHeader > .searchField {
	flex-grow: 1;
	height: 32px;

	margin: 4px 0 0 0;
	border: 0;
	padding: 0 0 0 5px;

	background-color: #eee;
	color: black;
	font-size: 20px;
}

.mainHeader > .button {
	flex-basis: 50px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.mainHeader > div:hover {
	background-color: #35363A;
	cursor: pointer;
}



.searchResults {
	position: fixed;
	visibility: hidden;
	top: 40px;
	left: 100px;
	width: 100%;
	transition: visibility 0.2s;
}

.searchResult {
	background-color: #ddd;
	border: #ccc 1px solid;
	padding: 3px;
}

.searchResult:hover {
	background-color: #ccc;
}

.searchResult .title {
	font-weight: bold;
}

.searchField:focus ~ .searchResults {
	visibility: visible;
}